
.dataTables_wrapper {
    position: relative;
    clear: both;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.dataTables_header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.tableCell {
    padding: 8px 10px;
    box-sizing: content-box;
    display: table-cell;
    vertical-align: inherit;
    border-top: 1px solid #ddd;
}

.table {
    border-bottom: 1px solid #111;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.columnTitleCell {
    padding: 10px 12px;
    box-sizing: content-box;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #111;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.evenRow {
    background-color: #f9f9f9;
}

.oddRow {
    background-color: #ffffff;
}

.sortedEvenCell {
    background-color: #f1f1f1;
}

.sortedOddCell {
    background-color: #fafafa;
}

.iconSortedAsc {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
}

.iconSortedDesc {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 8px;
    right: 0;
}

.iconUnsorted {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 0;
}